body {
  font-family: sans-serif;
  
}
 body { 
  background-image: url("image.jpeg"), url("image .jpeg");
  background-color: #cccccc;
} 
form {
  border: 4px solid rgb(241,241,241);
}
input[type=text], input[type=password], input[type=number], input[type=date], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(204,204,204);
  box-sizing: border-box;
}
#date {
  width: 50%;
}
.container {
  padding: 16px;
}
 #submit {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px o;
  border: none;
  cursor: pointer;
  width: 100%;
 }
 #radio {
  margin: 15px 0 30px 0;
 }
 a {
  text-decoration: none;
 }
 .style {
  background-color: lightgreen;
  text-align: center;
  color: white;
 }
 button {
  background-color: rgb(76,175,80);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
 }
button:hover {
  opacity: 0.8;
}
.signup {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(244,67,54);
 }
 .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
 }
 img.avater {
  width: 40%;
  border-radius: 50%;
 }
 .psw {
  float: right;
  width: auto;
  padding: 10px 18px;
  background-color: rgb(244,67,54);
 }
 .style {
  background-color: lightgreen;
  text-align: center;
  color: white;
 }
 .phase {
  background-color: black;
  color: white;
  text-align: center;
      
 }
 h1 {
  text-align: center;
 }
 a {
  text-decoration: none;
 }
 
 .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(244,67,54);
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
 #plus {
   background-color: skyblue;
   padding: 5px;
   margin: 5px;
   width: 20%;
   cursor: none;
 }
 #pha {
   background-color: red;
   
 }